<div class="row">
  <div class="col-xs-12 ">
    <%= link_to 'Back', questions_path, class: 'btn btn-default pull-right margin-side' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2><%= @question.title %></h2>
    </div>
  </div>
  <div class="col-xs-1 col-md-1">
    <%= render 'votes/votes' %>
  </div>
  <div class="col-xs-8 col-md-9">
    <div class="content"> 
      <p><%= markdown(@question.content) %></p>
    </div>
  </div>
  <div class="col-xs-3 col-md-2">
    <div class="content-footer">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">by <%= @question.user.email.split('@')[0] %></p>
        </div>
        <div class="panel-body">
          <div>
            <p>Asked <%= distance_of_time_in_words(@question.created_at, Time.now) %> ago</p>
          </div>  
          <div class="btn-group btn-group-xs pull-right" role="group">
            <% if @question.user == current_user %>
              <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-default' %>
              <%= link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }, class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/comments', dependable: nil, commentable: @question %>
<%= render 'comments/form', dependable: nil, commentable: @question %>

<hr>

<% if @question.answers.present? %>

  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h3><%= @question.answers.count %> <%= "Answer".pluralize(@question.answers.count)  %></h3>
      </div>
    </div>
  </div>

<% else %>

  <h4 class="text-center">Know someone who can answer? Share a link to this question via email, Google+, Twitter, or Facebook. </h4>

  <hr>

<% end %>

<% @question.answers.each do |answer| %>
  <div class="row">
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-9 col-md-9">
      <div class="content">
        <p><%= markdown(answer.content) %></p>
      </div>
    </div>   
    <div class="col-xs-2 col-md-2">
      <div class="footer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">by <%= answer.user.email.split('@')[0] %></h5>
          </div>
          <div class="panel-body">
            <p>Answered <%= distance_of_time_in_words(answer.created_at, Time.now) %> ago</p> 
            <div class="btn-group btn-group-xs pull-right" role="group">
              <% if answer.user == current_user %>
                <%= link_to 'Edit', edit_question_answer_path(@question, answer), class: 'btn btn-default' %>
                <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }, class: 'btn btn-default' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <%= render 'comments/comments', dependable: @question, commentable: answer %>
  <%= render 'comments/form', dependable: @question, commentable: answer %>
  <hr>

<% end %>
<% if user_signed_in? %>  
<div class="row">
  <div class="col-xs-8">
    <%= render 'answers/form', action: 'Post Your Answer' %>
  </div>
  <div class="col-hidden-xs col-md-1"></div>
  
  <%= render 'markdown-help' %>
  
</div>

<% end %>    
