<!DOCTYPE html>
<html>
  <head>
    <title>StackOverrun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'layouts/alerts' %>
          <%= yield %>
         
        </div>
      </div>
    </div>

  <script>
    $(".alert").fadeIn(500).css("opacity","0.85").delay( 6000 ).slideUp( 1000 );
    $('.alerts').on('click','.alert',function(){ $(this).remove() });
  </script>
  </body>
</html>
